{% assign awards = site.data.data.awards %}
{% if awards %}
<section class="section awards-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ awards.title }}
  </h2>

  {% if awards.intro %}
  <div class="intro">
    {{ awards.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for award in awards.awardslist %}
  <div class="item">
    
    <span class="award-title">
        <font size="4"><a href="{{ award.link }}">{{ award.title }}</a></font>
    </span>
    
    <i><div class="award-about" style="color:darkcyan">{{  award.about  }}</div></i>
    <div class="award-sponser">{{  award.sponser  }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
